<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to I-Commerce</h1>
  <p class="lead">Your one-stop shop for amazing products.</p>
  <hr class="my-4">
  <p>Browse our latest collection and find the perfect products for you.</p>
</div>
